@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Playfair+Display:400,700,900&display=swap');

:root{
    --mainBlue: #031926;
    --mainGreen: #468189;
    --mainYellow: #F4E9CD;
    --mainWhite: #fff;
    --mainGrey: #F8F9FA;
}

body{
    background: var(--mainWhite);
    color: var(--mainBlue);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.25rem;
}

.navbar {
    min-height: 80px;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}


@media (min-width: 768px) {
    .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.text-yellow{
    color: var(--mainYellow);
}

.text-green{
    color: var(--mainGreen);
}

.cart-icon{
    cursor: pointer;
    color: var(--mainGreen);
    font-size: 2rem;
}

.default-background{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(3, 25, 38, 0.8), rgba(3, 25, 38, 0.8));
    background-position: center;
    background-size: cover;
    opacity: 1 !important;
}

.default-background h1{
    width: 80%;
    text-align: center;
    line-height: 1.5;
}

.about-background{
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(70, 129, 137, 0.7), rgba(70, 129, 137, 0.7));
    background-position: center;
    background-size: cover;
    opacity: 1 !important;
}

.btn-yellow{
    background: var(--mainYellow);
    transition: all .4s ease;
}

.btn-yellow:hover{
    background: var(--mainBlue);
    color: var(--mainWhite);
}

.btn-outline-green{
    border: 1px solid var(--mainGreen);
    transition: all .5s ease;
}

.btn-outline-green:hover{
    background: var(--mainGreen);
    color: var(--mainYellow);
}

.btn-outline-green:not(:last-child){
    margin-right: 1.5rem;
}

.footer{
    background: var(--mainBlue);
    color: var(--mainYellow);
}

.footer svg{
    width: 1.6rem;
    height: 1.6rem;
}

section.products, section.contact{
    background: var(--mainGrey);
}



